* {
    // Resets gab above the Nav element
    margin: 0;
    list-style-type:none;
    
}

a {
    text-decoration: none;
}
.flex {
    // Applied to keep all inner divs centered.
    @include flex;
    background-color: #212a2a;
}


.wrapper {
    max-width: 1200px;
}
.full-width-color {
    width: 100%;
    
}
.clicker:hover button, .clicker:hover {
    cursor: pointer;
}
@media only screen and (max-width: 1200px) {
.wrapper {
    max-width: 768px;
}
}
@media only screen and (max-width: 765px) {
    .wrapper {
        max-width: 375px;
}

}