// body {
//   margin: 40px;
// }


.banner {
  grid-column: 1/4;
}

.sidebar {
    grid-column: 1/3;
}

.wrapper-grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    // grid-gap: 1.5rem;
}

.box {
  background-color: #245D50;
  color: #fff;
  border-radius: 5px;
  font-size: 100%;
}

.img-grid {
    img{
    border-radius: 3px 0 0 3px;
    height: 265px;
}
}

.img-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;

}
.upcoming-grid {    
    h3{
        padding:10px;
    }
    display: grid;
    // grid-gap:10px;

    .grid-book-cards {
        background-color: blue;
    }
    .grid-book-cards-title {
        display:flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .grid-book-cards {
        display:grid;
        grid-gap:40px;
        grid-template-columns: 2fr 1fr;
        align-items: center;

        padding:10px;
        margin:5px;
    }
}

