.header {
    display:flex;
    text-align: center;
    margin:50px;
    hgroup{
        margin: 0 auto;
        h1 {
            margin: 20px;
            color: #39575a;
            font-size: 1.5rem;
            font-weight: 100;
        }
        h2 {
            font-size: 4.5rem;
            font-family: 'Fjalla One', sans-serif;
            letter-spacing: 9px;
        }
    }
}