
.header {
    justify-content: center;
    height: 90px;
}

.name {
    @include font-1;
    @include font-color-1;
    font-size: 3.8rem;
    font-weight: 100;
    // Normalization was adding margin?
    margin: 0;
    margin-top: -10px;
}




.banner {
    border-radius: 3px;


    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background-image: url("../assets/img/Cover2.jpg");
    @include color-4;
    height: 453px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

    // margin-top: 25px;

    h1 {
        margin: 0;
        padding: 60px 0 135px 36px;

        @include font-4;
        @include font-color-2;
        font-size: 4.5rem;
        text-shadow: 2px 2px 4px #5AD8CA;
    }
    div{
        @include font-5;
        @include font-color-2;
        font-weight: 600;
        
        padding: 0 0 0 36px;
        p {
            font-size: 2.75rem;
            padding-bottom: 10px;
        }
        button {
            @include color-1;
            @include font-2;
            font-weight: 600;
            font-size: 2.1rem;

            width:463px;
            height: 85px;
            border-radius: 10px;
            border-style: none;
            box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        }
    }
}

.about-upcoming {

    @include flex-r;
    @include font-color-2;

    margin: 25px 0;
    .about, .upcoming {
        @include color-5;
            box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        border-radius: 3px;

    }
    .about {
        img {
        border-radius: 3px 0 0 3px;
        height: 265px;
        }
        @include flex-r;
        flex-basis: 60%;
        margin-right:25px;
        h3 {
            padding:20px 20px 0 20px;
            @include font-2;
            font-size: 2rem;
        }
        p {
            padding:5px 25px 5px 25px;
            @include font-3;
            font-size: 1.05rem;
        }
    }




    .upcoming {
        flex-basis: 40%;
        .flex-fix {
            @include flex;
            @include font-3;

        }
        h3 {
            padding:20px 0 20px 25px;
            @include font-2;
            font-size: 2rem;
        }
        .book-cat {
            @include flex-r;
            font-size:1.2rem;

            width:85%;
            justify-content: space-between;
        }
        .book-bundle {
            width:90%;
        }
        .book-info {
            box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
            border-radius: 3px;

            font-size:1.2rem;

            @include flex-r;
            justify-content: space-between;
            
            background-color: #2E7D6B;
            padding:13px;
            margin: 5px;
        }
    }
}




@media only screen and (max-width: 1200px) {
    .header {
        height: 75px;
    }
    .name {
        font-size: 3.5rem;
    }
    .banner {
        width:100%;
        height: 286px;
        // align-items: unset;
        h1 {
            padding: 30px 0 85px 36px;
            font-size: 3rem;
        }
        div{
            p {
                font-size: 1.75rem;
                padding-bottom: 10px;
            }
            button {
                font-size: 1.1rem;
                width:280px;
                height: 50px;
            }
        }
    }

.about-upcoming {
    margin: 10px 0;
    .about {
        img {
        height: 180px;
        }
        margin-right:10px;
        h3 {
            padding:10px 10px 0 10px;
            font-size: 1.5rem;
        }
        p {
            padding:5px 10px 0 10px;
            font-size: .693rem;
        }
    }
    .upcoming {
        h3 {
            padding:10px 0 10px 15px;
            font-size: 1.5rem;
        }
        .book-cat {
            font-size:1rem;
        }
        .book-info {
            font-size:.8rem;
            background-color: #2E7D6B;
            padding:8px;
            margin: 5px;
        }
    }
}
}
@media only screen and (max-width: 765px) {
    .name {
        font-size: 1.75rem;
    }
    .banner {

        padding: 15px 0 15px 0;

        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        background-position: right;
        width:375px;
        height: 226px;
        h1 {
            padding:0;
            margin:0;
            font-size: 2rem;
        }
        div{
            padding:0;
            margin:0;
            display:flex;
            flex-direction: column;
            align-items: center;

            p {
                text-align: center;
                font-size: 1.5rem;
                padding-bottom: 10px;
            }
            button {
                font-size: 1.1rem;
                width:250px;
                height: 40px;
            }
        }
    }

.about-upcoming {
   display:none;
}
}