.library {
    @include flex;
    width: 100%;
        margin-top:100px;


    h4 {
        @include font-2;
        font-weight: 100;
        font-size: 2.5rem;
        padding: 20px 75px;
        border-bottom: 1px solid black;
    }

    .library-series {
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        h2 {
        margin:100px 0;
        @include font-4;
        font-size: 4.2rem;
        font-weight: 900;
        padding: 10px 55px;
        border-bottom: 1px solid black;
        }
        .trilogy {
            width: 100%;
            @include flex;
            @include font-4;
            font-size: 2.2rem;
            font-weight: 900;
            padding: 10px 55px;
            .trilogy-books{
                width: 100%;
                display:flex;
                justify-content: space-between;
                .book {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    margin:0;
                    width:350px;
                    height: 500px;
                    @include color-4;
                    @include font-color-2;
                    @include font-3;
                    font-size:2rem;
                    border-radius: 3px;

                }
                .ek-b1{
                    background-image: url("../assets/img/ek-b1.jpg");
                    background-repeat: no-repeat;
                    background-size: 350px 500px;


                    p {
                        color: black;
                        background-color:white;
                        border-radius: 3px;
                        padding:5px;
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 1200px) {
.library {
    h4 {
        font-size: 2rem;
    }
    .library-series {
        h2 {
        margin-top:50px;
        font-size: 3.2rem;
        }
        .trilogy {
            h3{
                font-size: 3.5rem;
            }
            .trilogy-books{
                .book {
                    width:220px;
                    height: 320px;
                    font-size:1.5rem;
                }
                .ek-b1{
                    background-size:cover;
                }
            }
        }

    }
}
}


@media only screen and (max-width: 765px) {
.library {
    margin-top: 50px;
    h4 {
        padding: 20px 0px;
        font-size: 1.2rem;
    }
    .library-series {
        h2 {
        margin-top:30px;
        font-size: 2rem;
        text-align: center;
        }
        .trilogy {
            padding-left: 0;
            padding-right: 0;
            h3{
                padding: 15px 0;
                font-size: 1.8rem;
            }
            .trilogy-books{
                flex-direction: column;
                align-items: center;
                .book {
                    width:300px;
                    height: 450px;
                    font-size:1.5rem;
                    margin-bottom: 20px;
                }
            }
        }

    }
}
}