.library {
    @include flex;
    width: 100%;
        margin-top:100px;


    h4 {
        @include font-2;
        font-weight: 100;
        font-size: 2.5rem;
        padding: 20px 75px;
        border-bottom: 1px solid black;
    }

    .library-series {
        width: 100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        h2 {
        margin-top:100px;
        @include font-4;
        font-size: 4.2rem;
        font-weight: 900;
        padding: 10px 55px;
        border-bottom: 1px solid black;
        }
        .trilogy {
            h3{
                padding:50px 0;
                margin-bottom: 50px;
                font-size: 4rem;
                @include font-color-3;
            }
            width: 100%;
            @include flex;
            @include font-4;
            font-size: 2.2rem;
            font-weight: 900;
            padding: 10px 55px;
            .trilogy-books{
                width: 100%;
                display:flex;
                justify-content: space-between;
                .book {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    margin:0;
                    width:350px;
                    height: 500px;
                    @include color-4;
                    @include font-color-2;
                    @include font-1;
                    font-size:2rem;
                    border-radius: 3px;

                }
                .ek-b1{
                    background-image: url("../assets/img/ek-b1.jpg");
                    background-repeat: no-repeat;
                    background-size: 350px 500px;


                    p {
                        color: black;
                        background-color:white;
                        border-radius: 3px;
                        padding:5px;
                    }
                }
            }
        }

    }
}