.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:800px;
    height:50px;
    li{
        height:50px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        a{
            @include font-color-3;
            @include font-2;
            @include font-color-5;
            font-weight: lighter;
            font-size: 1.7rem;

            padding: 0 5px;
        }
    }
    li:hover,   li:hover a {
            color:white;
            background-color: #54B6AA;
    }
}

@media only screen and (max-width: 1200px) {
    .nav {
        width: 700px;
        li{
            a{
                font-size:1.4rem;
            }
        }
    }
}
@media only screen and (max-width: 765px) {
        .nav {
            padding-left:0;
            display:flex;
            justify-content: space-around;
            align-items: center;
            width: 375px;
        li{
            height: auto;
            @include color-4;
            padding:5px;
            margin: 3px;
            border-radius: 3px;
            a{
                font-size:1rem;
                @include font-color-2;
            }
        }
    }
}
